.cell {
    display: inline-block;
    width: 200px; height: 200px;
    background: 'yellow'; overflow: hidden;
}

.gopher, .bomb {
    width: 200px; height: 200px; bottom: 0;
    position: absolute; transition: bottom 1s;
}

.gopher {
    background: url('../img/gopher.png') center center no-repeat;
    background-size: 200px 200px;
}

.dead {
    background: url('../img/dead_gopher.png') center center no-repeat;
    background-size: 200px 200px;
}

.bomb {
    background: url('../img/bomb.png') center center no-repeat;
    background-size: 200px 200px;
}

.boom {
    background: url('../img/explode.png') center center no-repeat;
    background-size: 200px 200px;
}

.hidden {
    bottom : -200px;
}

.hole {
    width: 200px; height: 150px; position: absolute; bottom: 0;
    background: url('../img/mole-hole.png') center center no-repeat;
    background-size: 200px 150px;
}

.hole-front {
    width: 200px; height: 30px; position: absolute; bottom : 0;
    background: url('../img/mole-hole-front.png') center center no-repeat;
    background-size: 200px 30px;
}